<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  throwExceptions="true">
  <extensions>
    <add assembly="xunit.NLog" />
  </extensions>
  <targets async="false">
    <target xsi:type="TestOutput"
      layout="${time}|${level:uppercase=true}|${logger}|${message}"
      name="Test" />
    
    <!-- 全てのクラスからのログを全て出力 -->
    <target xsi:type="File" name="allfile" fileName="${basedir}/log/nlog-all-test-${shortdate}.log" encoding="UTF-8" lineEnding="LF"
            layout="${level:uppercase=true:padding=-5} ${longdate} &quot;${message}&quot; ${callsite}#${callsite-linenumber}"
            archiveNumbering="Date" archiveFileName="${basedir}/logs/archive/{#}-all.log" archiveEvery="Day" archiveDateFormat="yyyyMMdd" maxArchiveFiles="7"
            />
  </targets>
  <rules>
    <!-- Info以上を出力 -->
    <logger name="*" minlevel="Info" writeTo="Test" />
    
    <logger name="*" minlevel="Info" writeTo="allfile" />
  </rules>
</nlog>