<?xml version="1.0" encoding="utf-8" ?>
<!-- CentOSにリリースした時用の設定、デプロイした後にnlog.configにリネームすること -->
<!-- 内部ログ -->
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="info" internalLogFile="/tmp/log/penguinsteamer/internal-nlog.log"
      archiveNumbering="Date" archiveFileName="/tmp/log/penguinsteamer/archive/{#}-internal.log" archiveEvery="Day" archiveDateFormat="yyyyMMdd" maxArchiveFiles="7"
      >

  <!-- 書き込み対象 -->
  <targets>
    <!-- コンソールに出力  -->
    <target xsi:type="Console" name="alloutput"
            layout="${level:uppercase=true:padding=-5} ${longdate} &quot;${message}&quot; ${callsite}#${callsite-linenumber}" />
    
    <!-- ファイル出力  -->
    <!-- 全てのクラスからのログを全て出力 -->
    <target xsi:type="File" name="allfile" fileName="/tmp/log/penguinsteamer/nlog-all-${shortdate}.log" encoding="UTF-8" lineEnding="LF"
            layout="${level:uppercase=true:padding=-5} ${longdate} &quot;${message}&quot; ${callsite}#${callsite-linenumber}" 
            archiveNumbering="Date" archiveFileName="/tmp/log/penguinsteamer/archive/{#}-all.log" archiveEvery="Day" archiveDateFormat="yyyyMMdd" maxArchiveFiles="7"
            />

    <!-- 全てのクラスからのエラーログを全て出力 -->
    <target xsi:type="File" name="error" fileName="/tmp/log/penguinsteamer/nlog-error-${shortdate}.log" encoding="UTF-8" lineEnding="LF"
            layout="${level:uppercase=true:padding=-5} ${longdate} &quot;${message}&quot; ${callsite}#${callsite-linenumber}" 
            archiveNumbering="Date" archiveFileName="/tmp/log/penguinsteamer/archive/{#}-error.log" archiveEvery="Day" archiveDateFormat="yyyyMMdd" maxArchiveFiles="7"
            />
  </targets>

  <!-- ログ名と対象を対応付ける -->
  <rules>
    <!-- コンソールには Trace レベル以上のログすべてを出力 -->
    <logger name="*" minlevel="Trace" writeTo="alloutput" />
    
    <!-- 全てのクラスからのログを全て出力 -->
    <logger name="*" minlevel="Trace" writeTo="allfile" />
    
    <!-- 全てのクラスからのエラーログを出力 -->
    <logger name="*" minlevel="Error" writeTo="error" />
  </rules>
</nlog>