<?xml version="1.0" encoding="utf-8" ?>
<!-- Windows用の設定 -->
<!-- 内部ログ -->
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="info" internalLogFile="${basedir}/log/internal-nlog.log"
      archiveNumbering="Date" archiveFileName="${basedir}/logs/archive/{#}-internal.log" archiveEvery="Day" archiveDateFormat="yyyyMMdd" maxArchiveFiles="7"
      >

  <!-- 書き込み対象 -->
  <targets>
    <!-- コンソールに出力  -->
    <target xsi:type="Console" name="alloutput"
            layout="${level:uppercase=true:padding=-5} ${longdate} &quot;${message}&quot; ${callsite}#${callsite-linenumber}" />
    
    <!-- ファイル出力  -->
    <!-- 全てのクラスからのログを全て出力 -->
    <target xsi:type="File" name="allfile" fileName="${basedir}/log/nlog-all-${shortdate}.log" encoding="UTF-8" lineEnding="LF"
            layout="${level:uppercase=true:padding=-5} ${longdate} &quot;${message}&quot; ${callsite}#${callsite-linenumber}" 
            archiveNumbering="Date" archiveFileName="${basedir}/logs/archive/{#}-all.log" archiveEvery="Day" archiveDateFormat="yyyyMMdd" maxArchiveFiles="7"
            />

    <!-- 全てのクラスからのエラーログを全て出力 -->
    <target xsi:type="File" name="error" fileName="${basedir}/log/nlog-error-${shortdate}.log" encoding="UTF-8" lineEnding="LF"
            layout="${level:uppercase=true:padding=-5} ${longdate} &quot;${message}&quot; ${callsite}#${callsite-linenumber}" 
            archiveNumbering="Date" archiveFileName="${basedir}/logs/archive/{#}-error.log" archiveEvery="Day" archiveDateFormat="yyyyMMdd" maxArchiveFiles="7"
            />
  </targets>

  <!-- ログ名と対象を対応付ける -->
  <rules>
    <!-- コンソールには Trace レベル以上のログすべてを出力
    <logger name="*" minlevel="Trace" writeTo="alloutput" /> -->

    <!-- 開発用 -->
    <!-- コンソールには Info レベル以上のログすべてを出力 -->
    <logger name="*" minlevel="Info" writeTo="alloutput" />
    
    <!-- 全てのクラスからのログを全て出力 -->
    <logger name="*" minlevel="Trace" writeTo="allfile" />
    
    <!-- 全てのクラスからのエラーログを出力 -->
    <logger name="*" minlevel="Error" writeTo="error" />
  </rules>
</nlog>